.Rocket-image {
    background-color: #F2F2F2;
    margin-top: 12px;
    margin-left: 1px;
}

.Rocket-display{
    margin-top: 20px;
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    width: 17rem;
    margin-right: 4px;
    margin-bottom: 20px;
}    

.Rocket-flight-number {
    color: #63659f;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
}

.Rocket-label {
    color: #181818;
    font-size: 18px;
    font-weight: 500;
}

.Rocket-value {
    color: #63659f;
    font-weight: 400;
}