<div *ngFor="let rocketDetail of rocketDetails" class="Rocket-display">
    <div>
      <img
        src={{rocketDetail.links.mission_patch_small}}
        alt="Mission Rocket Image"
        class="Rocket-image"
      />
    </div>
    <div class="Rocket-flight-number">
        {{rocketDetail.mission_name}} #{{rocketDetail.flight_number}}
    </div>
    <div class="Rocket-label">
      Mission Ids:{{" "}}
      <ul>
        {{" "}}
        <li class="Rocket-value">{{rocketDetail.mission_id}}</li>
      </ul>
    </div>
    <div class="Rocket-label">
      Launch Year:{{" "}}
      <span class="Rocket-value">{{rocketDetail.launch_year}}</span>
    </div>
    <div class="Rocket-label">
      Successful Launch:{{" "}}
      <span class="Rocket-value">
        {{rocketDetail.launch_success ? "true" : "false"}}
      </span>
    </div>
    <div class="Rocket-label">
      Successful Landing:{{" "}}
      <span class="Rocket-value">
        {{rocketDetail.rocket.first_stage.cores[0].land_success ? "true" : "false"}}
      </span>
    </div>
  </div>