<div class="App">
  <h1 class="App-header">SpaceX Launch Programs</h1>
  <div class="flex-container">
    <div class="flex-item-left">
      <div class="App-filter-card">
        <div class="body">
          <div class="App-filter-header">
            Filters
          </div>
          <div class="App-filter-heading-launch-year">
            Launch Year
            <hr class="App-filters-hr" />
          </div>

          <button class="App-filter-button" *ngFor="let year of uniqueLaunchYears"
            (click)="this.updateApiFilters('launch_year', $event)" routerLink='/filter/launchYear'>
            {{year}}
          </button>
          <div class="App-filter-heading">
            Successful Launch
            <hr class="App-filters-hr" />
          </div>

          <div class="App-filter-button-container">
            <button class="App-filter-button" (click)="this.updateApiFilters('launch_success', $event)"
              routerLink='/filter/successfulLaunch=true'>
              True
            </button>

            <button class="App-filter-button" (click)="this.updateApiFilters('launch_success', $event)"
              routerLink='/filter/successfulLaunch=false'>False</button>

          </div>

          <div class="App-filter-heading">
            Successful Landing
            <hr class="App-filters-hr" />
          </div>
          <div class="App-filter-button-container">
            <button class="App-filter-button" (click)="this.updateApiFilters('land_success', $event)"
              routerLink='/filter/successfulLand=true'>
              True
            </button>

            <button class="App-filter-button" (click)="this.updateApiFilters('land_success', $event)"
              routerLink='/filter/successfulLand=false'>
              False
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-item-right">
      <app-rocket-launch></app-rocket-launch>
    </div>
  </div>
</div>