* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 700px) {
    .flex-container {
      flex-direction: column;
      padding-right: 27px;
    }
    .flex-item-left {
        margin-left: 33px;
    }  
   
}

body {
    background-color: #F2F2F2 !important;
  }
  
  .App {
    background-color: #F2F2F2;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    font-size: calc(22px + 2vmin);
    color: #0A0A0A;
    padding-left: 16px;
  }
  
  .App-filter-card {
    width: 15rem;
    margin-bottom: 15px;
  }
  
  .App-filter-header {
    color: #111111;
  }
  
  .App-filter-heading {
    text-align: center !important;
    margin-top: 1rem;
  }
  
  .App-filter-heading-launch-year {
    text-align: center !important;
    margin-top: -1rem;
  }
  
  .App-filters-hr {
    margin: 0.4rem;
  }
  
  .App-filter-button-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
  }
  
  .App-Developers-name {
    text-align: center !important;
  }
  
  .App-filter-button {
    flex: 0 40%;
    margin: 10px;
    width: 6rem;
    background-color:Chartreuse;
  }

  .App-filter-button:focus{  

    background-color:MediumSeaGreen;

   }
  
